html {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/*clearfix*/
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#navbar {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.no-scroll {
    background-color: rgba(0, 0, 0, 0.2);
}
.scroll {
    background-color: green;
}

#navbar li {
    display: inline-block;
    list-style-type: none;
    padding: 14px;
}

#navbar li a {
    text-decoration: none;
}

#navbar li#icon {
    background-color: red;
    margin-right: 20%;
}

.particles {
    background-image: linear-gradient( 45deg, rgba(34, 57, 138, 0.8), rgba(255, 152, 78, 0.8));
    width: 100%;
    max-height: 600px;
}
