html {
    box-sizing: border-box;
    margin:0;
    padding: 0;
    height: 100%;
    width: 100%;
    /* font-family: 'Sarabun', sans-serif; */
    font-family: 'Raleway', sans-serif;
}

body {
    background-color:#141326;
    margin: 0;
    color: #fefefe;
    min-height: 100%;
}

/*clearfix*/
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#navbar {
    display: flex;
    justify-content: center;
    padding: 5px 0;
    margin: 0;
    z-index: 10;
    font-weight: bold;
    align-items: center;
}

/* navbar fixed scroll */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
/* in particle background */
.no-scroll {
    background-image: linear-gradient(rgba(8, 8, 15, 0.6),rgba(8, 8, 15, 0.5),rgba(20, 19, 38, 0.7));
}
/* exit particle background */
.scroll {
    background-color: #141326;
}
.logo-holder {
    margin: auto 0;
    padding: 0;
}
#navbar li {
    display: inline-block;
    list-style-type: none;
    padding: 14px;
    
}

#navbar li a {
    text-decoration: none;
    color: #fefefe;
}

#navbar li.icon.name {
    font-size: 22px;
    margin-right: 20%;
    font-family: 'Do Hyeon', sans-serif;
    font-weight: lighter;

}

#logo{
    max-width: 50px;
    vertical-align: middle;
}

#particles {
    width: 100%;
    /* height: 1000px; */
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-block {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2vw;
}
 .title-block h1 {
     /* font-family: 'Open Sans', sans-serif; */
     /* font-family: 'Sarabun', sans-serif; */
    font-family: 'Do Hyeon', sans-serif;
    font-weight: lighter;
    text-align: center;
 }

 .title-block p {
     text-align: center;
 }
.buttons {
    display: flex;
    justify-content: center;
}

.title-btn {
    margin: 20px;
    padding: 15px 20px;
    border-radius: 25px;
    color: #fefefe;
    min-width: 33%;
}

.title-btn:hover {
    cursor: pointer;
    background-color: #141326;
    /* border: 1px solid #141326; */
    transition: 0.3s;
}

.search {
    background-color: transparent;
    border: 2px solid #E73C4E;
    /* background-color: rgb(215, 125, 53); */
    /* border: 1px solid rgb(215, 125, 53); */

}
.search:hover {
    background-color: #E73C4E;
}

.guidebtn {
    background-color: #E73C4E;
    border: 2px solid #E73C4E; 
    /* background-color: rgb(215, 125, 53); */
    /* border: 1px solid rgb(215, 125, 53); */
}

.info-block {
    background-color: rgb(227, 228, 230);
    /* color:rgba(215, 125, 53); */
    color:#E73C4E;
    /* height: 500px; */
    border-bottom: 1px solid black;
    padding: 4px;
    
}

.info-section {
    color: black;
}

.guide {
    background-color: #141326;
}
.section-header {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 50px;
    width: 20%;
    border-bottom: 1px solid black;
}
.guide-inner {
    display: flex;
    justify-content: space-evenly
}

.summary-inner {
    display: flex;
    justify-content: center;
}

div.description {
    width: 75%;
}

img.description-image {
    /* object-fit: scale-down; */
    /* width: 100%;
    height: auto; */
    float: right;
}
p {
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Sarabun', sans-serif;


}
.description p {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 0 auto;

}

.guide-inner-box {
    text-align: center;
    width: 30%;
    padding-left:1%;
    padding-right: 1%;
    background-color: #1F1E2F;
    margin-bottom: 20px;
}
.guide-sections h2 {
    padding-bottom: 20px;
}

.guide-sections-list {
    padding: 0;
    list-style: none;
}

.guide-sections-list li {
    color: rgb(227, 228, 230);
    border-bottom: 2px solid #3C3B4F;
    padding-bottom: 5px;
    margin-bottom: 10px;
}


#search-section {
    display: flex;
    margin: 25px;
}

#item1 {
    width: 40%;
    margin-left: 8%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
}

#item2 {
    width: 30%;
    
}

#search-form {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

#item2 * {
    margin: 0;
    padding-bottom: 15px;
    /* text-align: center; */
}

#search {
    color: black;
    /* height:300px; */
}

fieldset {
    width: 50%;
    display: flex;
    border: 0;
    padding: 0;
    margin: 0;
}

fieldset * {
    text-align: center;
    width: 100%;
}

input {
    margin: 0;
    padding: 0;

}

#stats {
    background-color: #141326;
    /* height: 800px; */

}

.bottom-blue {
    border: 0;
}

#results-ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-bottom: 80px;
}

#results-ul * {
    margin-right: 50px;
}

#results-section {
    /* height: 100%; */
    /* padding-left:10%; */
    /* width: 50%; */
    display: flex;
    justify-content: center;

}

.graph-holder {
    max-height: 30%;
    width: 50%;
}

.list-images {
    width: 30px;
}

.top-coins-items {
    display: flex;
    list-style-type: none;
    padding: 0;
    text-align: center;
    border: 1px solid #3C3B4F;
    color: #fefefe;
}

.top-coins-items li {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 10px;
    cursor: pointer;

}

.top-coins-items:hover {
    background-color: #3C3B4F;
}

.top-coins-items li a {
    color: #fefefe;
    text-decoration: none;
}

#results-ul li {
    cursor: pointer;
}

.all-coins-image {
    width: 50px;
}

#why-info-list li {
    list-style-type: none;
    margin-bottom: 40px;
}
#why-info-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#test-div *{
    list-style-type: none;
    text-decoration: none;
    color: #fefefe;
}

#test-div li{
    border: 1px solid #3C3B4F;
}

.icon.name:hover, #search-nav:hover, #guide-nav:hover, #stats-nav:hover {
    border-bottom: 2px solid #E73C4E;

}

#why-use {
    /* height: 400px; */
}

.content{
    display: none;
	cursor: pointer;
}

.icon1, .icon2, .icon3{
	width: 30px;
	height: 4px;
	background: #E73C4E;
	margin: 6px 0;
	transition: .5s
}

.change .icon1{
	transform: rotate(-45deg) translate(-9px,5px);
}

.change .icon2{
	opacity: 0
}

.change .icon3{
	transform: rotate(45deg) translate(-9px,-5px);
}

.content {
    /* display: none; */
}

@media(max-width: 800px) {

    #navbar {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: #111;
    }

    .content {
        display: block;
    }

    .buttons {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 60%;
        margin: 0 auto;
    }

    #guide {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .guide-inner {
        display: flex;
        width: 66%;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
    }
    .guide-inner-box {
        width: 100%;
        margin-bottom: 20px;
    }

    #search-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

     #navbar li.icon.name {
         padding: 2vw;
         margin: 0;
     }

     #navbar li.logo-holder {
        padding: 1vw;
        position: fixed;
        top: 0;
        left: 0;
     }
     #navbar li.mobileNav {
        padding: 2vw;
        position: fixed;
        top: 0;
        right: 0;
     }

     #navbar li#search-nav, #navbar li#guide-nav, #navbar li#stats-nav {
         display: none;
     }

     /* .mobileShow {
         display:;
     } */
}