html {
    box-sizing: border-box;
    margin:0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Sarabun', sans-serif;
}

body {
    background-color:#141326;
    margin: 0;
    color: white;
    min-height: 100%;
}

/*clearfix*/
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#navbar {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    margin: 0;
    z-index: 10;
}

/* navbar fixed scroll */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
/* in particle background */
.no-scroll {
    background-image: linear-gradient(rgba(8, 8, 15, 0.6),rgba(8, 8, 15, 0.5),rgba(20, 19, 38, 0.7));
}
/* exit particle background */
.scroll {
    background-color: #141326;
}

#navbar li {
    display: inline-block;
    list-style-type: none;
    padding: 14px;
}

#navbar li a {
    text-decoration: none;
    color: white;
}

#navbar li.icon.name {
    margin-right: 20%;

}

#logo{
    max-width: 50px;
}

#particles {
    width: 100%;
    height: 800px;;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-block {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
 .title-block h1 {
     font-family: 'Open Sans', sans-serif;
     text-align: center;
 }

 .title-block p {
     text-align: center;
 }
.buttons {
    display: flex;
    justify-content: center;
}

.title-btn {
    margin: 20px;
    padding: 15px 20px;
    border-radius: 5px;
    color: white;
}

.title-btn:hover {
    cursor: pointer;
    background-color: #141326;
    /* border: 1px solid #141326; */
    transition: 0.3s;
}

.search {
    background-color: rgba(232, 83, 87);
    border: 1px solid rgba(232, 83, 87);

}

.guidebtn {
    background-color: rgba(232, 83, 87);
    border: 1px solid rgba(232, 83, 87);
}

.info-block {
    background-color: rgb(227, 228, 230);
    color:rgba(232, 83, 87);
    height: 600px;
    border-bottom: 1px solid black;
    padding: 4px;
    
}

.info-section {
    color: black;
}

.guide {
    background-color: #141326;
}
.section-header {
    color: rgba(232, 83, 87);
    display: flex;
    justify-content: center;
    margin: 0;
    text-align: center;
    padding-bottom: 75px;
}
.guide-inner {
    display: flex;
    justify-content: space-evenly
}

.summary-inner {
    display: flex;
    justify-content: center;
}

div.description {
    width: 75%;
}

img.description-image {
    /* object-fit: scale-down; */
    /* width: 100%;
    height: auto; */
    float: right;
}
p {
    font-family: 'Open Sans', sans-serif;

}
.description p {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 0 auto;

}

.guide-inner-box {
    text-align: center;
    width: 30%;
    padding-left:1%;
    padding-right: 1%;
    background-color: #1F1E2F;
}
.guide-sections h2 {
    padding-bottom: 20px;
}

.guide-sections-list {
    padding: 0;
    list-style: none;
}

.guide-sections-list li {
    color: rgb(227, 228, 230);
    border-bottom: 2px solid #3C3B4F;
    padding-bottom: 5px;
    margin-bottom: 10px;
}