html {
    box-sizing: border-box;
    margin:0;
    padding: 0;
    height: 100%;
}

body {
    background-color:#141326;
    margin: 0;
    color: white;
    min-height: 100%;
}

/*clearfix*/
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#navbar {
    display: flex;
    justify-content: center;
    padding: 15px;
    margin: 0;
}

/* navbar fixed scroll */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
/* in particle background */
.no-scroll {
    background-image: linear-gradient(rgba(8, 8, 15, 0.6),rgba(8, 8, 15, 0.5),rgba(20, 19, 38, 0.7));
}
/* exit particle background */
.scroll {
    background-color: green;
}

#navbar li {
    display: inline-block;
    list-style-type: none;
    padding: 14px;
}

#navbar li a {
    text-decoration: none;
    color: white;
}

#navbar li.icon.name {
    padding-right: 20%;

}
#logo{
    max-width: 50px;
}

#particles {
    width: 100%;
    height: 670px;;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-block {
    position: absolute;
}
 
.learn1 {
    background-color: white;
    color:red;
    height: 400px;
    opacity: 0.5;
    
}
.learn2 {
    background-color: red;
    color:red;
    height: 400px;
    
}
.learn3 {
    background-color: blue;
    color:red;
    height: 400px;
    
}
.learn4 {
    background-color: yellow;
    color:red;
    height: 400px;
    
}



